@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');

/* Colors */
.em-pink{
    color: #b05279;
}

.em-purple{
    color:  #9e86c8;
}

.em-yellow{
    color: #e5b567;
}

.em-green{
    color:#b4d273;
}

.em-blue{
    color:#6c99bb;
}

.em-orange{
    color: #e87d3e;
}


body {
    background-color: rgb(46, 46, 46);
    color:white;
    font-family: 'Martian Mono', monospace;
}

button {
    font-family: 'Martian Mono', monospace !important;
}

.link-image {
    max-width:100px;
    max-height: auto;
}

.link-image:hover {
    cursor: pointer;
    filter: invert();
}

.welcome-anchor {
    text-decoration: none;
}

#hp-pavillion{border:#9e86c8 5px solid; }

#intro-container {text-align: center;}

#headshot {border: 6px rgb(158, 134, 200) solid; position: relative;}

#cert{
    top: -8%;
    right: 40%;
    width: 30%;
    height: auto;
    position: relative;

}

#nav {border-bottom: 2px #b4d273 solid;}
