@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');

/* Colors */
.em-pink{
    color: #b05279;
}

.em-purple{
    color:  #9e86c8;
}

.em-yellow{
    color: #e5b567;
}

.em-green{
    color:#b4d273;
}

.em-blue{
    color:#6c99bb;
}

.em-orange{
    color: #e87d3e;
}


body {
    background-color: rgb(46, 46, 46);
    color:white;
    font-family: 'Martian Mono', monospace;
}

button {
    font-family: 'Martian Mono', monospace !important;
}

#myNav .nav-link:hover {
    cursor: pointer;
}

.link-image {
    max-width:100px;
    max-height: auto;
}

.link-image:hover {
    cursor: pointer;
    filter: invert();
    transition: 0.8s;
}

.welcome-anchor {
    text-decoration: none;
}


#about-tab button {
    color: #9e86c8;
}

#about-tab button:hover:not(.active) {
    color: #e3dcef;   
}

#about-tab .nav-link.active,
#about-tab .show {
    background-color: #9e86c8;
    color: white;
}

#intro-container {
    text-align: center;
}

#headshot-div {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#headshot {
    border: 6px rgb(158, 134, 200) solid;
    width: 100%;
    display: block;
}

.certification {
    width: 30%;
    height: auto;
    position: absolute;
    z-index: 1;
}

.certification:nth-of-type(2) {
    top: 10px;
    right: 10px;
}

.certification:nth-of-type(3) {
    bottom: 8px;
    left: 10px;
    padding: 5%;
    border-radius: 50px;
}
#myNav {border-bottom: 2px #b4d273 solid;}
